.sidebarSection {
  position: fixed;
  left: 0;
  background-color: #ffffff;
  height: 100vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  gap: 2rem;
  box-shadow: inset -7px 0px 14px rgba(0, 0, 0, 0.15);

  @media screen and (max-width: 1080px) {
    display: none;
    width: 65vw;
    z-index: 999;
  }

  .top {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;

    .menu {
      display: none;
    }

    .brand {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .logoText {
        font-size: 24px;
        font-weight: 700;
        color: #009393;
        padding-right: 1rem;
        margin-left: -1.1rem;
      }
    }

    .links {
      display: flex;
      justify-content: flex-start;

      .linksUl {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-inline-start: 1.5rem;

        .favouritesHeading {
          color: #848484;
          font-weight: 700;
          display: flex;
          align-items: center;
          gap: 1rem;
        }

        .preferencesHeading {
          color: #848484;
          font-weight: 700;
          display: flex;
          align-items: center;
          gap: 1rem;
          padding-top: 2rem;
        }

        .linksLi {
          color: #848484;
          padding: 0rem 1rem;
          border-radius: 0.6rem;
          cursor: pointer;
          font-weight: 500;

          &:hover {
            //background-color: #009393;

            a {
              color: #009393;
              font-weight: 700;
            }
          }

          a {
            display: flex;
            gap: 0.5rem;
            align-items: center;
          }
        }
        .active {
          color: #848484;
          font-weight: 500;
          padding: 0rem 1rem;
          border-radius: 0.6rem;
          cursor: pointer;

          a {
            display: flex;
            // color: #009393;
            gap: 0.5rem;
            align-items: center;
          }

          &:hover {
            //background-color: #009393;

            a {
              color: #009393;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}

.preferencesToggles {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 1rem;
}

.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.checkbox_toggle {
  position: relative;
  width: 95px;
  height: 42px;
  overflow: hidden;
}

.checkbox_toggle,
.checkbox_toggle .layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #e9e9e9;
  transition: 0.3s ease all;
  z-index: 1;
  box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.05);
}

.knobs:before {
  position: absolute;
  top: 2px;
  left: 3px;
  width: 30px;
  height: 20px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: #00e0c6;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

.checkbox:checked + .knobs:before {
  left: 55px;
  background-color: #00e0c6;
}

#temp_cb .knobs:before {
  content: "C°";
  font-size: 20px;
}

#temp_cb .checkbox:checked + .knobs:before {
  content: "F°";
}

#time_cb .knobs:before {
  content: "24H";
  font-size: 17px;
}

#time_cb .checkbox:checked + .knobs:before {
  content: "12H";
}

#dn_cb .knobs:before {
  content: "☼";
  font-size: 27px;
  line-height: 0.8;
}

#dn_cb .checkbox:checked + .knobs:before {
  content: "☽";
}

#temp_cb .checkbox:checked ~ .layer,
#time_cb .checkbox:checked ~ .layer,
#dn_cb .checkbox:checked ~ .layer {
  background-color: #e9e9e9;
}

#temp_cb .knobs,
#temp_cb .knobs:before,
#temp_cb .layer,
#time_cb .knobs,
#time_cb .knobs:before,
#time_cb .layer,
#dn_cb .knobs,
#dn_cb .knobs:before,
#dn_cb .layer {
  transition: 0.3s ease all;
}
